p {
  font-size: 1.4em;
  margin-left: 10%;
  font-family: Josefin Sans;
  width: 80%;
}

h2 {
    font-family: Josefin Sans;
    margin-left: 10%;
    margin-top: 50px;
    font-size: 2em;
}

h3 { 
  font-family: Josefin Sans;
  margin-left: 10%;
}

a {

}

.img_pages {
  width: 80%;
  margin-left: 10%;
}

.grid_text {
  font-family: Josefin Sans;
  margin-top: 10px;
  font-size: 1.4em;
  margin-left: 0px;
}

.grid_text_2 {
  font-family: Josefin Sans;
  color: #808080;
  margin-top: -15px;
  font-size: 1.4em;
  margin-left: 0px;
}

figcaption {
  text-align: center;
}

.cont_scuro {
    background-color: #363535;
    padding-top: 1px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.cont_chiaro {
    background-color: #fffce7;
    padding-top: 1px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.slide {
    height: 380px;
    overflow-x: scroll;
    white-space: nowrap;
}

.slide img {
    height: 300px;
    width: auto;
    margin:28px;
    margin-left:20px;
    margin-right: 8px;
}

.gallery {
  width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.gallery img {
  width: 400px;
  max-width: 85%;
  height: auto;
  display: flex;
}

.griglia_2x2 {
  display: flex;
  flex-flow: wrap;
  width: 90%;
  margin-left: 10%;
}

.griglia_2x2 img {
  width: 45%;
  height: auto;
}

.coda {
  height: 80px;
  width: 100%;
  background-color: #808080;
  position: fixed;
  bottom: 0px;

}
